/* -------------------------------- Primary style-------------------------------- */
html * {  -webkit-font-smoothing: antialiased;  -moz-osx-font-smoothing: grayscale;}
*, *:after, *:before {  -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  box-sizing: border-box;}
body {  font-size: 100%;  font-family: "微软雅黑","Roboto", sans-serif;  color: #3d3536;  background-color: white;}
body, html {  /* important */  height: 100%;}
a {  color: #ff8600;  text-decoration: none;}
/* -------------------------------- Modules - reusable parts of our design-------------------------------- */
.sse-container {  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;  max-width: 768px;  margin: 0 auto;}
.sse-container::after {  /* clearfix */  content: '';  display: table;  clear: both;}
/* --------------------------------
Main components
-------------------------------- */
.sse-header {  position: fixed;  top: 0;  left: 0;  width: 100%;  height: 100px;  background: rgba(255, 255, 255, 0.80);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); z-index: 2;}
.sse-header:after {  content: "";  display: table;  clear: both;}
.sse-header #sse-logo {  float: left;  vertical-align: middle;}
.sse-header #sse-logo img { display: block; margin: 15px 0 0 15px;}
@media only screen and (min-width: 768px) {  .sse-header { height: 100px; }
  .sse-header #sse-logo { float: left;  vertical-align: middle; }
}
.sse-main-nav {  float: right; margin-top: 2%; margin-right: 5%;  width: 44px;  height: 100%;
  background: url("../img/sse-icon-menu.svg") no-repeat center center;  background-size: 44px 44px;  cursor: pointer;}
.sse-main-nav ul {  position: absolute;  top: 0;  left: 0;  text-align: center; width: 100%;  -webkit-transform: translateY(-100%);  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);  -o-transform: translateY(-100%);  transform: translateY(-100%);}
.sse-main-nav ul.is-visible {  -webkit-transform: translateY(100px);  -moz-transform: translateY(100px);  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);  transform: translateY(100px);}
.sse-main-nav a {  display: block;  height: 50px;  line-height: 50px;  background: rgba(0, 160, 233, 0.80);
  border-top: 1px solid #ffffff;  color: #ffffff;}
@media only screen and (min-width: 768px) {
  .sse-main-nav { width: auto;   height: auto;  background: none;    cursor: auto;  }
  .sse-main-nav ul {    position: static;    width: auto;    -webkit-transform: translateY(0);    -moz-transform: translateY(0);    -ms-transform: translateY(0);
    -o-transform: translateY(0);    transform: translateY(0);    line-height: 70px;  }
  .sse-main-nav ul.is-visible {    -webkit-transform: translateY(0);    -moz-transform: translateY(0);    -ms-transform: translateY(0);
    -o-transform: translateY(0);    transform: translateY(0);  }
  .sse-main-nav li {    display: inline-block; }
  .sse-main-nav a {    display: inline-block;    height: auto;    line-height: normal;    background: transparent;    padding: .6em 1em;
    border-top: none;    color: #3d3536;    text-transform: uppercase;    font-weight: bold;    font-size: 14px;    font-size: 1.1rem;  }
  .no-touch .sse-main-nav a:hover {    color: #99a478;  }
}

.sse-main-content {  /* you need to assign a min-height to the main content so that the children can inherit it*/
  height: 100%;  position: relative;  z-index: 1;}
.sse-fixed-bg {  position: relative;  min-height: 100%;  background-size: cover;  background-repeat: no-repeat;  background-position: center center;  z-index: 1;}

#contentInfo{  padding-top: 110px; padding-left: 5%; padding-right: 5%;}
#contentInfo .sub-title{text-align:center; font-size:1.6rem; color: #00a0e9;}
.contentBgColor{background: #fafafa;}

/*帮助*/
#contentInfo .question{ text-align:left; font-size:1.1rem; margin: 5px 5px 5px 5px; padding-top: 20px; color: #ff8600;}
#contentInfo .answer{text-align:left; font-size:0.9rem; margin: 5px 5px 5px 5px; line-height:25px; }


/*购买*/
#show_price{display:flex; justify-content:center;}
.pricing_table { margin-top: 30px;}
.pricing_table ul {  list-style:none;  float: left;  margin:0;  border:1px solid #f2f3f3;
  border:1px solid #c4cbcc;  border-radius:4px;  -moz-border-radius:4px;  -webkit-border-radius:4px;
  outline:7px solid #f2f3f3;  padding:5px;  text-align:center;  background-color:#FFF; }
.pricing_table ul:hover {  -webkit-transform: scale(1.1);  -moz-transform: scale(1.1);  -o-transform: scale(1.1);
  -moz-box-shadow:3px 5px 7px rgba(0,0,0,.7);  -webkit-box-shadow: 3px 5px 7px rgba(0,0,0,.7);  box-shadow:3px 5px 7px rgba(0,0,0,.7);  cursor:pointer;}
.pricing_table ul li {  border-bottom:1px dashed #cfd2d2;  padding:10px 0;}
.pricing_table ul li:first-child {  font-size:18px;  font-weight:bold;}
.pricing_table ul li:nth-child(2) {  background:#fbfbfb;}
.pricing_table ul li:nth-child(3) {  font-size:12px;  font-weight:bold;}
.pricing_table ul li:nth-child(n+4) {  font-size:14px;}
.pricing_table ul li:last-child {  font-size: 1.4rem;  background: #ff8600;padding:10px;  margin:5px;  line-height: 30px; border-radius:10px;}
.pricing_table ul li:last-child a{color: #ffffff;}
.price_cell{color: red; font-size: 1.2rem;font-weight:bold;}

/*下载*/
#download_table{ justify-content:center; align-items:center;}
.download_cell{height:240px; float:left; margin:5%;text-align:center;}
.download_cell_title{ padding:20px 0 0 0; font-size: 1.4rem;}
.download_cell_subtitle{color:#666666; text-align: left; padding: 5px 0 5px 15px; font-size: 1rem;}
.download_cell_item{color: #999999; text-align: left; padding: 5px 0 5px 40px; font-size: 0.8rem;}

/*教程*/
.tutorial_content{padding-top: 10px; line-height:25px; }
.tutorial_table{ justify-content:center; align-items:center;}
.tutorial_cell{height:200px; float:left; margin:2px;text-align:center;}
.tutorial_image{ padding:20px 0 0 0;}
.tutorial_text a{color: #999999; text-align: left; padding: 5px 0 5px 40px; font-size: 1.4rem;}
.guide_title{padding-top: 20px;padding-bottom:5px; font-size: 1.2rem;color: #00a0e9; border-bottom: 1px dashed #c4cbcc;}
.guide_text{padding-top: 10px; line-height:25px; font-size: 1rem;}
.guide_text li{padding-top: 10px; line-height:25px; list-style:disc; margin-left:10px;}
.guide_code{ font-size:0.8rem; color:#999999; padding-top: 10px; padding-bottom: 10px;line-height:25px; background: #fafafa;}
.guide_img{padding-top: 10px;}


/*简介*/
.introduce_title{padding-top: 20px;padding-bottom:5px; font-size: 1.2rem;color: #00a0e9; border-bottom: 1px dashed #c4cbcc;}
.introduce_txt{padding-top: 10px; line-height:25px; font-size: 1rem;}
.introduce_img{ margin-top: 10px;}


/*首页*/
.sse-fixed-bg.sse-bg-1 { background-image: url("../img/sse-background-1.jpg");}
.sse-fixed-bg.sse-bg-2 { background-image: url("../img/sse-background-2.jpg");}
.sse-fixed-bg.sse-bg-3 { background-image: url("../img/sse-background-3.jpg");}
#screen-1 .index-screen-text-1{position:absolute;left:30%;top:70%; color: #ffffff}
#screen-1 .index-screen-text-1 h5{font-weight:normal; text-align:center;font-size: 2rem;}
#screen-1 .index-screen-text-1 p{text-align:center; font-size: 1.4rem; margin-top: 20px;}












.sse-fixed-bg h1 {
   position: absolute;
   left: 50%;
   top: 50%;
   bottom: auto;
   right: auto;
   -webkit-transform: translateX(-50%) translateY(-50%);
   -moz-transform: translateX(-50%) translateY(-50%);
   -ms-transform: translateX(-50%) translateY(-50%);
   -o-transform: translateX(-50%) translateY(-50%);
   transform: translateX(-50%) translateY(-50%);
   width: 90%;
   max-width: 1170px;
   text-align: center;
   font-size: 30px;
   font-size: 1.4rem;
   text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
   color: white;
 }

.sse-fixed-bg.sse-bg-4 {
  background-image: url("../img/sse-background-4.jpg");
}

@media only screen and (min-width: 768px) {
  .sse-fixed-bg h1, .sse-fixed-bg h2 {
    font-size: 36px;
  }
}
@media only screen and (min-width: 1170px) {
  .sse-fixed-bg {
    background-attachment: fixed;
  }
  .sse-fixed-bg h1, .sse-fixed-bg h2 {
    font-size: 48px;
    font-weight: 300;
  }
}

.sse-scrolling-bg {
  position: relative;
  min-height: 100%;
  padding: 4em 0;
  line-height: 1.6;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.sse-scrolling-bg.sse-color-1 {
  background-color: #3d3536;
  color: #a6989a;
}
.sse-scrolling-bg.sse-color-2 {
  background-color: #99a478;
  color: #3d3536;
}
.sse-scrolling-bg.sse-color-3 {
  background-color: #b4d7a8;
  color: #3d3536;
}
@media only screen and (min-width: 768px) {  .sse-scrolling-bg {    padding: 8em 0;    font-size: 20px;    font-size: 1.25rem;    line-height: 2;    font-weight: 300;  }
}
